<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.29">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_URL</name>
          <description></description>
          <defaultValue>https://MASTER_NODE_IP:8443</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_ACCOUNT_ID</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NAMESPACE</name>
          <description></description>
          <defaultValue>default</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description></description>
          <defaultValue>bluecompute-orders</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MYSQL_HOST</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MYSQL_PORT</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MYSQL_USER</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>MYSQL_PASSWORD</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>HS256_KEY</name>
          <description></description>
          <defaultValue>{AQAAABAAAAGQtMv5qfxOduQX+ZodTv5IlBR/idx9lUP7R9L2ViHLW/MuR1xYs/4A3+NlWN14KsuKj+vQIvkTnJYbyFSOhHR1Le7GyWAckCKuvTxCQxtkKsnLRrfNwWFc4DmsB/ZdOg2FaIoV1xgaL9gomOCqFKkRb6dR2D54XENvskC9mmfyjuRx5YqOoX1ZHxRtzl62BvAKxboNh4uER1j8XB3EQ93Bh9XNIUMPgBCa2t5vv8HbCE6e1aeHfEwCkMMBwxOEYCETG9o+MetOliMmL9YI0yG5XlTTFHVKhVwGhmlAmBuH5rJTG8tpp222L9AhFHIXkZq7HwhYnGOgmdXGBfovr9rQwYW5wRAb5a4jVIs45guSzSJumBJi6UnaU2p1VS+EY6tgmEkLhdqs2khiCcwnUjcXUsItYuvKUtYZj3qqKFtzSYU2vj3cBcPHEl8E6lge/AoiqnDuxjcQhVsYUqEzI/o7uGtVAOVxNF8xiwoQBC0JZhQJoCzYlwFo4c4w90c+efBOH5X/ICjn0J8oCbBsLkFSQuYVzOq3UCGcc4vNAc2ugPA=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEPLOY_NEW_VERSION</name>
          <description></description>
          <defaultValue>false</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.61">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/ibm-cloud-architecture/refarch-cloudnative-micro-orders</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/spring</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>jenkins/Jenkinsfile-update-image.groovy</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
