<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.29">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_URL</name>
          <description></description>
          <defaultValue>https://MASTER_NODE_IP:8443</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_ACCOUNT_ID</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NAMESPACE</name>
          <description></description>
          <defaultValue>default</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description></description>
          <defaultValue>bluecompute-orders</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MYSQL_HOST</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MYSQL_PORT</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MYSQL_USER</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>MYSQL_PASSWORD</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>HS256_KEY</name>
          <description></description>
          <defaultValue>{AQAAABAAAAGQvmi5MDJlMPTwKv029gN/CJf9Hw99wzvyKbuiYH9j4cLij34K072yBRYPzMwdzCuAAO8idzeAzUpuUfKVCx2jtiWvnp38AT0/rBW2JlGUroHxmxKhMDu72PJsV6ak+Ry+D2kC1z4feRcXF9cJZwkqdu/3MNhIg1g1++BhjKJNolKax6/Dk8j7kDTWlrdP5nZYvutPNt9eO21z6YbWoucTcmdPICOOkCMZV/0Bw8t5ssfLEmA/vCJtcmdp6lNUQkTGKxA+CpUjT1WTajGj2Cxk4DRyHfF0l8JWageHyueFWFE0rO0Xg76yCR8pIvBMUXkoATw7vbiF9bUwYce8+IbOK1hYzfh3otlJCfmrG/4B0fTe52CnNIOAgFY3L9DHXKntD9s+uwsQa9xK3YzAyaNvMPyrYMDkjYkOG5UzeMI2lrfCZMNbznVtb8m8lslp7/mu35G5xQRU6539Po8X3yu1xwg+wq9OSZklzrqg7YsrayxSo+LV7UlMk/z5HezgF3dyzfRA8pOzIrXW8IpmDIpKm/P4xCFxwl1J40eBcdQeehU=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEPLOY_NEW_VERSION</name>
          <description></description>
          <defaultValue>false</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.61">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/ibm-cloud-architecture/refarch-cloudnative-micro-orders</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/spring</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>jenkins/Jenkinsfile-build.groovy</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
