<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.29">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_URL</name>
          <description></description>
          <defaultValue>https://MASTER_NODE_IP:8443</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_ACCOUNT_ID</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NAMESPACE</name>
          <description></description>
          <defaultValue>default</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description></description>
          <defaultValue>bluecompute-auth</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>HS256_KEY</name>
          <description></description>
          <defaultValue>{AQAAABAAAAGQAiYAB86F90DWiaIXSnLkBQdEiGzFCcS+xnV04PLwluwdCkV45sSc6C5JFuNX/GeHb3MCRm6lJK/tQIV2g3wsEY1rvmUrs1wOPKPX2i71//SacfGIJxAOdT+DEBG6Wr6haveyALxYl/w+PePOKdhSsJP2WEWaZsv0tUOGc9wa6E5QZiKqYTKiUREKvcMlFYRM1z1ajaQN22qlJ618n7+aLrW0vYD3E178Lb8pKHI1wOJWh2YiEEd6CBP8IU/bX9UP37IA/o7OCV8MPIm+qCovVshaOiXEljVrCT10lEGeaXF0kb9leMIdQRBOwYYJ7WyBoQkWSfo1ZUlF7nP1eRkLxWTUU9FeJ+bGSkiWLuuEeKkK1X8ovBuJplfD5FUKUAzvq8qzrWXaS5ki9vbDmj+ek5My1z3rd7nIu3jJstj78fXW18dkuAQ7hEifpHO+Lsc/3X90yjb9p4jnB60igRv0xX9OpSIvhxUhVqaiF9ZJTt1ZarZFgmbR1lSGaY81gJ/IKgt6/2+kL0rP/q5wSC7VuseJM4LkyRipOPPCP5gHqAA=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CUSTOMER_URL</name>
          <description></description>
          <defaultValue>http://CUSTOMER_HOST:CUSTOMER_PORT</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEPLOY_NEW_VERSION</name>
          <description></description>
          <defaultValue>false</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.61">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/ibm-cloud-architecture/refarch-cloudnative-auth</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/spring</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>jenkins/Jenkinsfile-icp-end-to-end.groovy</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
