<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.29">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_URL</name>
          <description></description>
          <defaultValue>https://MASTER_NODE_IP:8443</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_ACCOUNT_ID</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NAMESPACE</name>
          <description></description>
          <defaultValue>default</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description></description>
          <defaultValue>bluecompute-customer</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COUCHDB_HOST</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COUCHDB_PORT</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>COUCHDB_USER</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>COUCHDB_PASSWORD</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>HS256_KEY</name>
          <description></description>
          <defaultValue>{AQAAABAAAAGQjILk6yIF95A1IVwTEUIUHpVCYGJOy5lLqxeWfYxTw1BGXoubX/EoDPFjlnsOp9dHFyluVc+2g1hfQ9yDh4QKlEQyhJXlTbeM3y9LzBcAeD8GYM01psUc61nQ8BGsNrimauNdzpVsiTG84UlHFZpo1t5olA9ORzqdSDVzgx1/om2CufH9Bk/rXaaekcBiGn8EZEOHTX5Ktcwvz1Ci9rVCvIK+8LNLnCqCdwjhjfHi1rhTi7LGc+h6yIOEzjHk++dr5QDVINGUHnfdzHGXXTbbDQ8j7o/ow1e1FxlsGfY98fxV+imsfR4mrCXZOZ4VazE8Gz0LJl9P8bzb66gLEml74er6JOkrNTKizKobu3ZHqq5EvfTqOQ6fmLAp3NxiT9uqz+k5aSkPQqEHBvBcGkqexlCHyNNtJLEi7th2i0ujkkkMhw9iKs44y0uMc31aCWwYsnAWDp+jU7NWI1nt90rWtKmq/ByGMtNPkXmY66mHDV8FzSyMWf5IPHPXs6nKSSiqMVNs/1LEYumXfRbOiQQICL/EUnCweDpEP3VyzB4VTK4=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEPLOY_NEW_VERSION</name>
          <description></description>
          <defaultValue>false</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.61">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/ibm-cloud-architecture/refarch-cloudnative-micro-customer</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/spring</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>jenkins/Jenkinsfile-icp-end-to-end.groovy</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
