<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.29">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_URL</name>
          <description></description>
          <defaultValue>https://MASTER_NODE_IP:8443</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLUSTER_ACCOUNT_ID</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NAMESPACE</name>
          <description></description>
          <defaultValue>default</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_NAME</name>
          <description></description>
          <defaultValue>bluecompute-auth</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_TAG</name>
          <description></description>
          <defaultValue>latest</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>HS256_KEY</name>
          <description></description>
          <defaultValue>{AQAAABAAAAGQtYvPQespoWlm1CuQny7iBskVe1gHivI7raq+CKSI+xrycRzM+0AXY6h95X2dDyYLs5O9iDlsf1hqZ7IazsOEY5DkheOxHL8vMt1G/bCn3UDiBmEdfS/6TV+RAckvxy9j/JvHjzyqn0/zetUnwU2jzeWF5381I5CEzUTwRJrC5jo9jLjznFIVh2USS0VywGAH4E3ZRzlUqysSN0jn6HmM5tFL82LEKDW7ZC5k5+N/LoZegWAW0nuN4pyYxy0alSftRD+dAwi8trhmtRnJ4IN5Qkui6GXkE/TmAtsPmsAUgsESnUaal0BUIdi+mM96Z4nWazJ2zewnEiVuPE6PbbuJazpXvc995jFtnCqlikAmIumwIsBHy6xZa1HZTuiGYvZQi7IqJFSPUhYw1uywUPYAeviSuKnVpXHRff0WuDG9/b22jvA2FS/lFj/FevyfNZwdX7zZbBm+UB5eO0Q6UnznjdFh6tZNXn6sR7qhGNHVdgw9CiwIwqptiTewZuzz01SdoZjWWk2ekP4RE/PtrV1DRJ80X4+gpEbApEBtj0lRAVo=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CUSTOMER_URL</name>
          <description></description>
          <defaultValue>http://CUSTOMER_HOST:CUSTOMER_PORT</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEPLOY_NEW_VERSION</name>
          <description></description>
          <defaultValue>false</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.61">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/ibm-cloud-architecture/refarch-cloudnative-auth</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/spring</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>jenkins/Jenkinsfile-icp-deploy.groovy</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
